* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFEBB2;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn-container {
    padding: 0.5em;
}

#btn {
    padding: 0.5em;
    background-color: aliceblue;
}

#btn:hover {
    cursor: pointer;
    border: solid gold 0.5px;
    background-color: white;
}

#board {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.row {
    border-top: dotted black 1px;
}

.row:last-child {
    border-right: dotted black 1px;
}

.white-square {
    background-color: white;
    border-left: dotted black 1px;
    border-bottom: dotted black 1px;
}

.black-square {
    background-color: black;
    border-left: dotted black 1px;
    border-bottom: dotted black 1px;
}